SQLAlchemy
pandas
python-dateutil
pytest
flake8
fastapi
httpx
uvicorn
alembic
psycopg2-binary  # Local PostgreSQL driver; prefer "psycopg[c]" in production.
passlib[bcrypt]
python-jose[cryptography]
python-multipart
